:root{
  --color : #ffc600;
  --spacing: 10px;
  --blur: 0px;
}

img{
background: var(--color);
padding: var(--spacing);
filter: blur(var(--blur));
}

.h1{
  color: var(--color);
}

body{
  text-align: center;
}
